@charset "utf-8";
/* CSS Document */

/* general classes */
.hidden
{
	display: none;
}

#siteCon
{
	width: 1400px;
	margin: 0 auto;
	background-color: black;
}

/* Index Body */

#logo
{
	width: 150px;
	height: 150px;
	padding-top: 5px;
	margin-left: 25px;
	margin-bottom: 20px;
}

#dropZoneBase
{
	display: flex;
	flex-direction: row;
	height: 500px;
	width: 1250px;
	margin: 0 auto;
	/* this will need changed out but just proof of concept */
	background: url(../images/placeHolderBkdrp.gif) no-repeat;
	background-size: 1250px;
}

#dropZone1
{
	margin-top: 50px;
	height: 400px;
	width: 208px;
	border: thin dashed #86818161;
}

#dropZone2
{
	margin-top: 50px;
	height: 400px;
	width: 208px;
	border: thin dashed #86818161;
}

#dropZone3
{
	margin-top: 50px;
	height: 400px;
	width: 208px;
	border: thin dashed #86818161;
}

#dropZone4
{
	margin-top: 50px;
	height: 400px;
	width: 208px;
	border: thin dashed #86818161;
}

#dropZone5
{
	margin-top: 50px;
	height: 400px;
	width: 208px;
	border: thin dashed #86818161;
}

#dropZone6
{
	margin-top: 50px;
	height: 400px;
	width: 208px;
	border: thin dashed #86818161;
}

#instrumentSelection
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #ffffff33;
	height: 155px;
	width: 700px;
	margin-top: -25px;
	margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.instrumentIcon
{
	width: 70px;
	height: 70px;
	margin-top: 43px;
	margin-right: 20px;
	border-radius: 20px;
	background-color: grey;
	opacity:.5;
}

.instrumentIcon:hover
{
	opacity: 1;
	filter: drop-shadow(2px -2px 2px white);
}


