@charset "utf-8";
/* CSS Document */

/* general classes */
.hidden
{
	display: none;
}

#siteCon
{
	width: 1400px;
	margin: 0 auto;
	background-color: black;
}

/* Index Body */

#logo
{
	width: 150px;
	height: 150px;
	padding-top: 5px;
	margin-left: 25px;
	margin-bottom: 20px;
}

#dropZoneBase
{
	display: flex;
	flex-direction: row;
	height: 500px;
	width: 1250px;
	margin: 0 auto;
	/* this will need changed out but just proof of concept */
	background: url(../images/main_stage.jpg) no-repeat;
	background-size: 1250px 500px;
}

#dropZone1
{
	margin-top: 50px;
	height: 400px;
	width: 208px;
	border: thin dashed #86818161;
}

#dropZone2
{
	margin-top: 50px;
	height: 400px;
	width: 208px;
	border: thin dashed #86818161;
}

#dropZone3
{
	margin-top: 50px;
	height: 400px;
	width: 208px;
	border: thin dashed #86818161;
}

#dropZone4
{
	margin-top: 50px;
	height: 400px;
	width: 208px;
	border: thin dashed #86818161;
}

#dropZone5
{
	margin-top: 50px;
	height: 400px;
	width: 208px;
	border: thin dashed #86818161;
}

#dropZone6
{
	margin-top: 50px;
	height: 400px;
	width: 208px;
	border: thin dashed #86818161;
}

#instrumentSelection
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #ffffff33;
	height: 155px;
	width: 700px;
	margin-top: -25px;
	margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.instrumentIcon
{
	width: 70px;
	height: 70px;
	margin-top: 43px;
	margin-right: 20px;
	border-radius: 20px;
	background-color: grey;
	opacity:.5;
}

.instrumentIcon:hover
{
	opacity: 1;
	filter: drop-shadow(2px -2px 2px white);
}

.pulse {
	-webkit-animation: pulse 1.5s ease-in-out infinite both;
	        animation: pulse 1.5s ease-in-out infinite both;
}


/*animation for insterment*/
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }

}

@keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  
}
